.archive{
  width: 98%;
  padding: 5% 1% 4%;
}
.bg {
  background: rgb(242, 246, 250);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1
}

.archiveTitle{
  text-align: center;
  font-weight: 200;
}

.title{
  margin-bottom: 5px;
  font-size: 110%;
  font-weight: 400;
}

.title :hover{
  text-decoration: underline;
  cursor: pointer;
  color: #97cbff;
}
