#particles-js {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50%;
}

.header {
  width: 100%;
  height: 50%;
  background-image: url("../img/2.jpg");
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.el-card /deep/ .el-card__body {
  padding: 5px;
}

.el-card /deep/ .el-card__header {
  padding: 5px;
}

.box-card-content {
  padding: 0px;
  color: gray;
}

.box-card-msg {
  color: gray;
  padding: 10px;
  height: auto;
}

.msg {
  color: #97CBFF;
  cursor: pointer;
}

.msg:hover {
  text-decoration: underline;
}

.md {
  z-index: 0;
  height: 1500px;
}

.commentHeader {
  text-align: center;
  color: black;
}

.commentBody {
  text-align: center;
}

.commentMD {
  min-height: 200px;
  position: fixed;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

@media screen  and (min-width: 768px) {
  .commentMD {
    width: 50%;
  }
}

@media screen  and (max-width: 768px) {
  .commentMD {
    width: 80%;
  }
}

.replyLength {
  float: right;
  font-size: 50%;
  color: #686967;
}

.replyLength:hover{
  text-decoration: none;
}

.replyBtn{
  color: #97CBFF;
  cursor: pointer;
  float: right;
}

.el-form-item {
  margin-bottom: 15px;
}

.tuijian{
  background-image: url("https://ss0.baidu.com/-Po3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/8644ebf81a4c510f0aa1ade06059252dd52aa5e7.jpg");
  background-size: cover;
  opacity: 0.8;
  height: 270px;
}

.tuijian h3{
  text-align: center;
  margin: 0;
  color: #000000;
}

.tuijian li{
  color: #000000;
}

.tuijian li :hover{
  cursor: pointer;
}

.el-divider{
  margin: 8px 0;
  background: 0 0;
  border-top: 1px solid #E6EBF5;
}
