.songAudio {
  display: flex;
  align-items: center;
}

.audio {
  position: fixed;
  left: 20px;
  bottom: 60px;
  display: block;
  width:300px;
}

.tip{
  position: fixed;
  bottom: 140px;
  display: block;
}
